{@eu.mulk.mulkcms2.benki.wiki.WikiPageRevision page}

{#include base.html}

{#title}{page.title} &#8212; Benki Wiki{/title}

{#head}
<link rel="stylesheet" type="text/css" href="/web_modules/ContentTools/build/content-tools.min.css" />
<script type="module">
  import {ContentTools} from "/web_modules/ContentTools.js";
  window.addEventListener('DOMContentLoaded', function() {
    let editor = ContentTools.EditorApp.get();
    editor.init('*[data-editable]', 'data-name');
  });
</script>
{/head}

{#body}
<article id="wiki-page">
  <header>
    <h1>{page.title}</h1>
  </header>

  <main>
    <div data-editable data-name="main-content">
      {#with page}{content.raw}{/}
    </div>
  </main>

  <hr>

  <footer>
    <a href="/wiki/{page.title}/revisions">Page revisions</a>
  </footer>
</article>
{/body}

{/include}
