{#include base.html}

{#title}Revisions &#8212; {title} &#8212; Benki Wiki{/title}
{#siteSection}Wiki{/siteSection}
{#wikiClass}this-page{/wikiClass}

{#nav}{#navbar siteSection="Wiki" /}

{#body}
<header>
  <h1>Revisions &#8212; <a href="/wiki/{title}">{title}</a></h1>
</header>

<main>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Author</th>
      </tr>
    </thead>

    <tbody>
      {#for revision in page.revisions}
      <tr>
        <td>{revision.date.humanDateTime}</td>
        <td>{revision.title}</td>
        <td>{revision.author.firstName}</td>
      </tr>
      {/for}
    </tbody>
  </table>
</main>
{/body}

{/include}
