# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# Emacs
*~

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Gradle
.gradle/
build/
src/main/generated

# Shell
.envrc

# Maven
target/
*.versionsBackup

# Yarn
node_modules
web_modules

# Parcel
.parcel-cache/
/src/main/resources/META-INF/resources/dist/

# Unknown
out/

# Credentials
keys.p12
/.env
