{@java.util.List<eu.mulk.mulkcms2.benki.lazychat.LazychatMessage> lazychatMessages}

{#include base.html}

{#title}Benki Lazychat{/title}
{#siteSection}Lazychat{/siteSection}
{#lazychatClass}this-page{/lazychatClass}

{#head}{/head}

{#body}

{#for lazychatMessage in lazychatMessages}
  {#with lazychatMessage}
    <article class="lazychat-message">
      <header>
        <div class="lazychat-message-info">
          <time datetime="{date.htmlDateTime}">{date.humanDateTime}</time>
          <span class="lazychat-message-owner">{owner.firstName} {owner.lastName}</span>
        </div>
      </header>

      <section class="lazychat-message-content">
        {contentHtml.raw}
      </section>
    </article>
  {/with}
{/for}

{/body}

{/include}
