{@java.lang.Integer postId}
{@java.util.List<eu.mulk.mulkcms2.benki.lazychat.LazychatMessage> comments}

<div class="comment-box" id="comment-box-{postId}">
  <script type="module" src="/lib.js"></script>
  <script type="module" src="/posts/commentBox.js"></script>

  <hr/>

  <form class="comment-form pure-form" method="post" action="/posts/{postId}/comments">
    <fieldset>
      <legend>Post Comment</legend>

      <label for="comment-form-message-{postId}">Message</label>
      <textarea name="message" id="comment-form-message-{postId}" placeholder="Great article!" required></textarea>

      <input name="hashcash-salt" id="comment-form-hashcash-salt-{postId}" type="hidden"/>

      <div class="controls">
        <input type="submit" class="pure-button"/>
      </div>
    </fieldset>
  </form>

  {#for comment in comments}
  <div class="comment" id="comment-{comment.id}">
    {#if comment.owner != null}<span class="comment-owner post-owner">{comment.owner.firstName}</span>{/if}

    <div class="comment-info">
      <a class="comment-link" href="/posts/{postId}#comment-{comment.id}">
        <span class="comment-self-link">#</span>
      </a>
    </div>

    <div class="comment-content post-content">
      {comment.descriptionHtml.raw}
    </div>
  </div>
  {/for}
</div>
