{#include base.html}

{#title}About This Site{/title}
{#siteSection}About{/siteSection}
{#aboutClass}this-page{/aboutClass}

{#nav}{#navbar siteSection="About" /}

{#head}{/head}

{#body}

<article id="contact-info">
  <header>
    <hgroup>
      <h1>Contact Information</h1>
      <h2>Information according to § 5 TMG, § 55 Abs. 2 RStV</h2>
    </hgroup>
  </header>

  <p>Responsible for the content on this site:</p>

  <section id="contact-info-main">
    <address>
      Matthias Benkard<br/>
      Machtlfinger Str. 29<br/>
      81379 München<br/>
      <br/>
      E-Mail: <a href="mailto:admin@mulk.eu">admin@mulk.eu</a><br/>
      Phone: <a href="tel:+4988568054002">+49-8856-8054002</a><br/>
      Fax: <a href="tel:+498920008761207">+49-89-20008761207</a><br/>
    </address>
  </section>
</article>
{/body}

{/include}
