<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <title>{#insert title}{/}</title>

  <link rel="stylesheet" type="text/css" href="/cms2/base.css" />
  <script type="importmap" src="/web_modules/import-map.json"></script>
  <script type="module" src="/cms2/components.js"></script>

  {#insert head}{/}
</head>

<body>
  <header>
    <h1><a href="/">Benki</a> → {#insert siteSection}{/}</h1>
  </header>

  <nav>
    <ol>
      <li class="{#insert bookMarxClass}{/}" data-site-section="Book Marx"><a href="/bookmarx">Bookmarks</a></li>
      <li class="{#insert lafargueClass}{/}" data-site-section="Lafargue"><a href="/lafargue">Remarks</a></li>
      <li class="{#insert wikiClass}{/}" data-site-section="Wiki"><a href="/wiki">Wiki</a></li>
    </ol>
  </nav>

  <main>
    {#insert body}{/}
  </main>

  <footer>
    <a href="/imprint">Imprint</a>
  </footer>
</body>
</html>
