<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{#insert title}{/}</title>

  <link rel="stylesheet" type="text/css" href="/lib.css" />
  <script type="importmap" src="/web_modules/import-map.json"></script>

  {#insert head}{/}
</head>

<body>
  <header>
    <h1><a href="/">Benki</a> → {#insert siteSection}{/}</h1>
  </header>

  <nav>
    {#insert nav}{/}
  </nav>

  <main>
    {#insert body}{/}
  </main>

  <footer>
    <a href="/about">Contact Information</a>
  </footer>
</body>
</html>
