<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{#insert title}{/}</title>

  <link rel="stylesheet" type="text/css" href="/cms2/base.css" />
  <script type="importmap" src="/web_modules/import-map.json"></script>

  {#insert head}{/}
</head>

<body>
  <header>
    <h1><a href="/">Benki</a> → {#insert siteSection}{/}</h1>
  </header>

  <nav>
    <ol>
      <li class="{#insert bookmarksClass}{/}" data-site-section="Book Marx"><a href="/bookmarks">Bookmarks</a></li>
      <li class="{#insert lazychatClass}{/}" data-site-section="Lafargue"><a href="/lazychat">Lazy Chat</a></li>
      <li class="{#insert wikiClass}{/}" data-site-section="Wiki"><a href="/wiki/Home">Wiki</a></li>
    </ol>
  </nav>

  <main>
    {#insert body}{/}
  </main>

  <footer>
    <a href="/imprint">Imprint</a>
  </footer>
</body>
</html>
