{#include base.html}

{#title}Newsletter Registration &#8212; Benki{/title}
{#siteSection}Newsletter{/siteSection}
{#wikiClass}this-page{/wikiClass}

{#nav}{#navbar siteSection="Newsletter" /}

{#head}{/head}

{#body}
<article id="newsletter-registration">
  <header>
    <h1>Newsletter Registration</h1>
  </header>

  <section>
    <p>In order to complete your registration, please check your email inbox and click
      the link in the confirmation mail.</p>
  </section>
</article>
{/body}

{/include}
