{#include base.html}

{#title}Newsletter Registration &#8212; Benki{/title}
{#siteSection}Newsletter{/siteSection}
{#wikiClass}this-page{/wikiClass}

{#nav}{#navbar siteSection="Newsletter" /}

{#head}{/head}

{#body}
<article id="newsletter-registration">
  <header>
    <h1>Newsletter Registration</h1>
  </header>

  <section>
    <p>Thank you. You are now subscribed to the weekly email digest.</p>

    <p>To unsubscribe, send an email to
      <a href="mailto:mulkcms+unsubscribe@mail.benkard.de">mulkcms+unsubscribe@mail.benkard.de</a>.</p>
  </section>
</article>
{/body}

{/include}
