{#include base.html}

{#title}Privacy Policy{/title}
{#siteSection}Privacy{/siteSection}
{#privacyClass}this-page{/privacyClass}

{#nav}{#navbar siteSection="Privacy" /}

{#head}{/head}

{#body}

<article id="privacy-policy">
  <header>
    <hgroup>
      <h1>Privacy Policy / Datenschutzerklärung</h1>
      <h2>Version: October 31st, 2020</h2>
    </hgroup>
  </header>

  <section id="privacy-policy-main">
    <h2>Inhaltsübersicht</h2>

    <ul class="index">
      <li><a class="index-link" href="#m3">Verantwortlicher</a></li>
      <li><a class="index-link" href="#mOverview">Übersicht der Verarbeitungen</a></li>
      <li><a class="index-link" href="#m13">Maßgebliche Rechtsgrundlagen</a></li>
      <li><a class="index-link" href="#m367">Registrierung, Anmeldung und Nutzerkonto</a></li>
      <li><a class="index-link" href="#m104">Blogs und Publikationsmedien</a></li>
      <li><a class="index-link" href="#m182">Kontaktaufnahme</a></li>
      <li><a class="index-link" href="#m17">Newsletter und elektronische Benachrichtigungen</a></li>
      <li><a class="index-link" href="#m10">Rechte der betroffenen Personen</a></li>
      <li><a class="index-link" href="#m42">Begriffsdefinitionen</a></li>
    </ul>

    <h2 id="m3">Verantwortlicher</h2>
    <address>
      Matthias Benkard<br/>
      Machtlfinger Str. 29<br/>
      81379 München, GERMANY<br/>
      <br/>
      E-Mail: <a href="mailto:admin@mulk.eu">admin@mulk.eu</a><br/>
      Phone: <a href="tel:+4988568054002">+49-8856-8054002</a><br/>
      Fax: <a href="tel:+498920008761207">+49-89-20008761207</a><br/>
    </address>

    <p>
      <strong>Impressum:</strong> <a href="/about">https://matthias.benkard.de/about</a>
    </p>

    <h2 id="mOverview">Übersicht der Verarbeitungen</h2>
    <p>Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die Zwecke ihrer
      Verarbeitung zusammen und verweist auf die betroffenen Personen.</p>
    <h3>Arten der verarbeiteten Daten</h3>
    <ul>
      <li>Bestandsdaten (z.B. Namen, Adressen).</li>
      <li>Inhaltsdaten (z.B. Eingaben in Onlineformularen).</li>
      <li>Kontaktdaten (z.B. E-Mail, Telefonnummern).</li>
      <li>Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).</li>
      <li>Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten).</li>
    </ul>

    <h3>Kategorien betroffener Personen</h3>
    <ul>
      <li>Kommunikationspartner.</li>
      <li>Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
    </ul>

    <h3>Zwecke der Verarbeitung</h3>
    <ul>
      <li>Direktmarketing (z.B. per E-Mail oder postalisch).</li>
      <li>Feedback (z.B. Sammeln von Feedback via Online-Formular).</li>
      <li>Kontaktanfragen und Kommunikation.</li>
      <li>Sicherheitsmaßnahmen.</li>
      <li>Erbringung vertragliche Leistungen und Kundenservice.</li>
      <li>Verwaltung und Beantwortung von Anfragen.</li>
    </ul>

    <h3 id="m13">Maßgebliche Rechtsgrundlagen</h3>
    <p>Im Folgenden teilen wir die Rechtsgrundlagen der Datenschutzgrundverordnung (DSGVO), auf
      deren Basis wir die personenbezogenen Daten verarbeiten, mit. Bitte beachten Sie, dass
      zusätzlich zu den Regelungen der DSGVO die nationalen Datenschutzvorgaben in Ihrem bzw.
      unserem Wohn- und Sitzland gelten können. Sollten ferner im Einzelfall speziellere
      Rechtsgrundlagen maßgeblich sein, teilen wir Ihnen diese in der Datenschutzerklärung mit.</p>
    <ul>
      <li><strong>Einwilligung (Art. 6 Abs. 1 S. 1 lit. a. DSGVO)</strong> - Die betroffene Person
        hat ihre Einwilligung in die Verarbeitung der sie betreffenden personenbezogenen Daten für
        einen spezifischen Zweck oder mehrere bestimmte Zwecke gegeben.
      </li>
      <li><strong>Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b.
        DSGVO)</strong> - Die Verarbeitung ist für die Erfüllung eines Vertrags, dessen
        Vertragspartei die betroffene Person ist, oder zur Durchführung vorvertraglicher Maßnahmen
        erforderlich, die auf Anfrage der betroffenen Person erfolgen.
      </li>
      <li><strong>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO)</strong> - Die
        Verarbeitung ist zur Wahrung der berechtigten Interessen des Verantwortlichen oder eines
        Dritten erforderlich, sofern nicht die Interessen oder Grundrechte und Grundfreiheiten der
        betroffenen Person, die den Schutz personenbezogener Daten erfordern, überwiegen.
      </li>
    </ul>
    <p><strong>Nationale Datenschutzregelungen in Deutschland</strong>: Zusätzlich zu den
      Datenschutzregelungen der Datenschutz-Grundverordnung gelten nationale Regelungen zum
      Datenschutz in Deutschland. Hierzu gehört insbesondere das Gesetz zum Schutz vor Missbrauch
      personenbezogener Daten bei der Datenverarbeitung (Bundesdatenschutzgesetz – BDSG). Das BDSG
      enthält insbesondere Spezialregelungen zum Recht auf Auskunft, zum Recht auf Löschung, zum
      Widerspruchsrecht, zur Verarbeitung besonderer Kategorien personenbezogener Daten, zur
      Verarbeitung für andere Zwecke und zur Übermittlung sowie automatisierten Entscheidungsfindung
      im Einzelfall einschließlich Profiling. Des Weiteren regelt es die Datenverarbeitung für
      Zwecke des Beschäftigungsverhältnisses (§ 26 BDSG), insbesondere im Hinblick auf die
      Begründung, Durchführung oder Beendigung von Beschäftigungsverhältnissen sowie die
      Einwilligung von Beschäftigten. Ferner können Landesdatenschutzgesetze der einzelnen
      Bundesländer zur Anwendung gelangen.</p>

    <h2 id="m367">Registrierung, Anmeldung und Nutzerkonto</h2>
    <p>Nutzer können ein Nutzerkonto anlegen. Im Rahmen der Registrierung werden den Nutzern die
      erforderlichen Pflichtangaben mitgeteilt und zu Zwecken der Bereitstellung des Nutzerkontos
      auf Grundlage vertraglicher Pflichterfüllung verarbeitet. Zu den verarbeiteten Daten gehören
      insbesondere die Login-Informationen (Name, Passwort sowie eine E-Mail-Adresse). Die im Rahmen
      der Registrierung eingegebenen Daten werden für die Zwecke der Nutzung des Nutzerkontos und
      dessen Zwecks verwendet. </p>
    <p>Die Nutzer können über Vorgänge, die für deren Nutzerkonto relevant sind, wie z.B. technische
      Änderungen, per E-Mail informiert werden. Wenn Nutzer ihr Nutzerkonto gekündigt haben, werden
      deren Daten im Hinblick auf das Nutzerkonto, vorbehaltlich einer gesetzlichen
      Aufbewahrungspflicht, gelöscht. Es obliegt den Nutzern, ihre Daten bei erfolgter Kündigung vor
      dem Vertragsende zu sichern. Wir sind berechtigt, sämtliche während der Vertragsdauer
      gespeicherte Daten des Nutzers unwiederbringlich zu löschen.</p>
    <p>Im Rahmen der Inanspruchnahme unserer Registrierungs- und Anmeldefunktionen sowie der Nutzung
      des Nutzerkontos speichern wir die IP-Adresse und den Zeitpunkt der jeweiligen Nutzerhandlung.
      Die Speicherung erfolgt auf Grundlage unserer berechtigten Interessen als auch jener der
      Nutzer an einem Schutz vor Missbrauch und sonstiger unbefugter Nutzung. Eine Weitergabe dieser
      Daten an Dritte erfolgt grundsätzlich nicht, es sei denn, sie ist zur Verfolgung unserer
      Ansprüche erforderlich oder es besteht eine gesetzliche Verpflichtung hierzu.</p>
    <p><strong>Online-Forum</strong>: Die Teilnahme am Forum setzt eine Registrierung voraus, bei
      der, vorbehaltlich anderer Angaben im Registrierungsformular, ein oder Ihr Name, ein Kennwort
      und die E-Mail-Adresse, an welche die Zugangsdaten versendet werden, angegeben werden müssen.
      Aus Gründen der Sicherheit sollte das Kennwort dem Stand der Technik entsprechen, also
      kompliziert sein (hierauf werden Nutzer notfalls im Rahmen der Registrierung hingewiesen) und
      nicht an anderer Stelle verwendet werden. Die Beiträge im Forum sind für die Öffentlichkeit
      sichtbar, es sei denn, deren Sichtbarkeit ist auf bestimmte Mitglieder oder Mitgliedergruppen
      beschränkt. Die Beiträge der Verfasser werden mit deren Namen, sofern registriert oder
      angegeben, dem Zeitpunkt und dem Eintragsinhalt gespeichert. Bei Anmeldungen und beim
      Verfassen von Einträgen werden ferner die IP-Adressen der Nutzer gespeichert, falls die
      Einträge einen unzulässigen Inhalt aufweisen sollten und die IP-Adressen der Rechtsverfolgung
      dienen könnten. Der Verantwortliche behält sich vor, die Anmeldungen und Einträge auf
      Grundlage einer sachgerechten Abwägung zu löschen.</p>
    <ul class="m-elements">
      <li><strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z.B. Namen, Adressen),
        Kontaktdaten (z.B. E-Mail, Telefonnummern), Inhaltsdaten (z.B. Eingaben in
        Onlineformularen), Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen),
        Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten).
      </li>
      <li><strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher, Nutzer von
        Onlinediensten).
      </li>
      <li><strong>Zwecke der Verarbeitung:</strong> Erbringung vertragliche Leistungen und
        Kundenservice, Sicherheitsmaßnahmen, Verwaltung und Beantwortung von Anfragen.
      </li>
      <li><strong>Rechtsgrundlagen:</strong> Einwilligung (Art. 6 Abs. 1 S. 1 lit. a. DSGVO),
        Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b. DSGVO),
        Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO).
      </li>
    </ul>

    <h2 id="m104">Blogs und Publikationsmedien</h2>
    <p>Wir nutzen Blogs oder vergleichbare Mittel der Onlinekommunikation und Publikation
      (nachfolgend "Publikationsmedium"). Die Daten der Leser werden für die Zwecke des
      Publikationsmediums nur insoweit verarbeitet, als es für dessen Darstellung und die
      Kommunikation zwischen Autoren und Lesern oder aus Gründen der Sicherheit erforderlich ist. Im
      Übrigen verweisen wir auf die Informationen zur Verarbeitung der Besucher unseres
      Publikationsmediums im Rahmen dieser Datenschutzhinweise.</p>
    <p><strong>Kommentare und Beiträge</strong>: Wenn Nutzer Kommentare oder sonstige Beiträge
      hinterlassen, können ihre IP-Adressen auf Grundlage unserer berechtigten Interessen
      gespeichert werden. Das erfolgt zu unserer Sicherheit, falls jemand in Kommentaren und
      Beiträgen widerrechtliche Inhalte hinterlässt (Beleidigungen, verbotene politische Propaganda
      etc.). In diesem Fall können wir selbst für den Kommentar oder Beitrag belangt werden und sind
      daher an der Identität des Verfassers interessiert.</p>
    <p>Des Weiteren behalten wir uns vor, auf Grundlage unserer berechtigten Interessen die Angaben
      der Nutzer zwecks Spamerkennung zu verarbeiten.</p>
    <p>Auf derselben Rechtsgrundlage behalten wir uns vor, im Fall von Umfragen die IP-Adressen der
      Nutzer für deren Dauer zu speichern und Cookies zu verwenden, um Mehrfachabstimmungen zu
      vermeiden.</p>
    <p>Die im Rahmen der Kommentare und Beiträge mitgeteilten Informationen zur Person, etwaige
      Kontakt- sowie Webseiteninformationen als auch die inhaltlichen Angaben werden von uns bis zum
      Widerspruch der Nutzer dauerhaft gespeichert.</p>
    <p><strong>Kommentarabonnements</strong>: Die Nachfolgekommentare können von Nutzern mit deren
      Einwilligung abonniert werden. Die Nutzer erhalten eine Bestätigungsemail, um zu überprüfen,
      ob sie der Inhaber der eingegebenen Emailadresse sind. Nutzer können laufende
      Kommentarabonnements jederzeit abbestellen. Die Bestätigungsemail wird Hinweise zu den
      Widerrufsmöglichkeiten enthalten. Für die Zwecke des Nachweises der Einwilligung der Nutzer
      speichern wir den Anmeldezeitpunkt nebst der IP-Adresse der Nutzer und löschen diese
      Informationen, wenn Nutzer sich von dem Abonnement abmelden.</p>
    <p>Sie können den Empfang unseres Abonnements jederzeit kündigen, d.h., Ihre Einwilligungen
      widerrufen. Wir können die ausgetragenen E-Mail-Adressen bis zu drei Jahren auf Grundlage
      unserer berechtigten Interessen speichern, bevor wir sie löschen, um eine ehemals gegebene
      Einwilligung nachweisen zu können. Die Verarbeitung dieser Daten wird auf den Zweck einer
      möglichen Abwehr von Ansprüchen beschränkt. Ein individueller Löschungsantrag ist jederzeit
      möglich, sofern zugleich das ehemalige Bestehen einer Einwilligung bestätigt wird.</p>
    <ul class="m-elements">
      <li><strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z.B. Namen, Adressen),
        Kontaktdaten (z.B. E-Mail, Telefonnummern), Inhaltsdaten (z.B. Eingaben in
        Onlineformularen), Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten,
        Zugriffszeiten), Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).
      </li>
      <li><strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher, Nutzer von
        Onlinediensten).
      </li>
      <li><strong>Zwecke der Verarbeitung:</strong> Erbringung vertragliche Leistungen und
        Kundenservice, Feedback (z.B. Sammeln von Feedback via Online-Formular),
        Sicherheitsmaßnahmen, Verwaltung und Beantwortung von Anfragen, Kontaktanfragen und
        Kommunikation.
      </li>
      <li><strong>Rechtsgrundlagen:</strong> Vertragserfüllung und vorvertragliche Anfragen (Art. 6
        Abs. 1 S. 1 lit. b. DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO),
        Einwilligung (Art. 6 Abs. 1 S. 1 lit. a. DSGVO).
      </li>
    </ul>

    <h2 id="m182">Kontaktaufnahme</h2>
    <p>Bei der Kontaktaufnahme mit uns (z.B. per Kontaktformular, E-Mail, Telefon oder via soziale
      Medien) werden die Angaben der anfragenden Personen verarbeitet, soweit dies zur Beantwortung
      der Kontaktanfragen und etwaiger angefragter Maßnahmen erforderlich ist.</p>
    <p>Die Beantwortung der Kontaktanfragen im Rahmen von vertraglichen oder vorvertraglichen
      Beziehungen erfolgt zur Erfüllung unserer vertraglichen Pflichten oder zur Beantwortung von
      (vor)vertraglichen Anfragen und im Übrigen auf Grundlage der berechtigten Interessen an der
      Beantwortung der Anfragen.</p>
    <ul class="m-elements">
      <li><strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z.B. Namen, Adressen),
        Kontaktdaten (z.B. E-Mail, Telefonnummern), Inhaltsdaten (z.B. Eingaben in
        Onlineformularen).
      </li>
      <li><strong>Betroffene Personen:</strong> Kommunikationspartner.</li>
      <li><strong>Zwecke der Verarbeitung:</strong> Kontaktanfragen und Kommunikation.</li>
      <li><strong>Rechtsgrundlagen:</strong> Vertragserfüllung und vorvertragliche Anfragen (Art. 6
        Abs. 1 S. 1 lit. b. DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO).
      </li>
    </ul>
    <h2 id="m17">Newsletter und elektronische Benachrichtigungen</h2>
    <p>Wir versenden Newsletter, E-Mails und weitere elektronische Benachrichtigungen (nachfolgend
      "Newsletter“) nur mit der Einwilligung der Empfänger oder einer gesetzlichen Erlaubnis. Sofern
      im Rahmen einer Anmeldung zum Newsletter dessen Inhalte konkret umschrieben werden, sind sie
      für die Einwilligung der Nutzer maßgeblich. Im Übrigen enthalten unsere Newsletter
      Informationen zu unseren Leistungen und uns.</p>
    <p>Um sich zu unseren Newslettern anzumelden, reicht es grundsätzlich aus, wenn Sie Ihre
      E-Mail-Adresse angeben. Wir können Sie jedoch bitten, einen Namen, zwecks persönlicher
      Ansprache im Newsletter, oder weitere Angaben, sofern diese für die Zwecke des Newsletters
      erforderlich sind, zu tätigen.</p>
    <p><strong>Double-Opt-In-Verfahren:</strong> Die Anmeldung zu unserem Newsletter erfolgt
      grundsätzlich in einem sogenannte Double-Opt-In-Verfahren. D.h., Sie erhalten nach der
      Anmeldung eine E-Mail, in der Sie um die Bestätigung Ihrer Anmeldung gebeten werden. Diese
      Bestätigung ist notwendig, damit sich niemand mit fremden E-Mail-Adressen anmelden kann. Die
      Anmeldungen zum Newsletter werden protokolliert, um den Anmeldeprozess entsprechend den
      rechtlichen Anforderungen nachweisen zu können. Hierzu gehört die Speicherung des Anmelde- und
      des Bestätigungszeitpunkts als auch der IP-Adresse. Ebenso werden die Änderungen Ihrer bei dem
      Versanddienstleister gespeicherten Daten protokolliert.</p>
    <p><strong>Löschung und Einschränkung der Verarbeitung: </strong> Wir können die ausgetragenen
      E-Mail-Adressen bis zu drei Jahren auf Grundlage unserer berechtigten Interessen speichern,
      bevor wir sie löschen, um eine ehemals gegebene Einwilligung nachweisen zu können. Die
      Verarbeitung dieser Daten wird auf den Zweck einer möglichen Abwehr von Ansprüchen beschränkt.
      Ein individueller Löschungsantrag ist jederzeit möglich, sofern zugleich das ehemalige
      Bestehen einer Einwilligung bestätigt wird. Im Fall von Pflichten zur dauerhaften Beachtung
      von Widersprüchen behalten wir uns die Speicherung der E-Mail-Adresse alleine zu diesem Zweck
      in einer Sperrliste (sogenannte "Blocklist") vor.</p>
    <p>Die Protokollierung des Anmeldeverfahrens erfolgt auf Grundlage unserer berechtigten
      Interessen zu Zwecken des Nachweises seines ordnungsgemäßen Ablaufs. Soweit wir einen
      Dienstleister mit dem Versand von E-Mails beauftragen, erfolgt dies auf Grundlage unserer
      berechtigten Interessen an einem effizienten und sicheren Versandsystem.</p>
    <p><strong>Hinweise zu Rechtsgrundlagen:</strong> Der Versand der Newsletter erfolgt auf
      Grundlage einer Einwilligung der Empfänger oder, falls eine Einwilligung nicht erforderlich
      ist, auf Grundlage unserer berechtigten Interessen am Direktmarketing, sofern und soweit diese
      gesetzlich, z.B. im Fall von Bestandskundenwerbung, erlaubt ist. Soweit wir einen
      Dienstleister mit dem Versand von E-Mails beauftragen, geschieht dies auf der Grundlage
      unserer berechtigten Interessen. Das Registrierungsverfahren wird auf der Grundlage unserer
      berechtigten Interessen aufgezeichnet, um nachzuweisen, dass es in Übereinstimmung mit dem
      Gesetz durchgeführt wurde.</p>
    <p><strong>Inhalte:</strong> Lesezeichen und Blogeinträge</p>
    <ul class="m-elements">
      <li><strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z.B. Namen, Adressen),
        Kontaktdaten (z.B. E-Mail, Telefonnummern), Meta-/Kommunikationsdaten (z.B.
        Geräte-Informationen, IP-Adressen), Nutzungsdaten (z.B. besuchte Webseiten, Interesse an
        Inhalten, Zugriffszeiten).
      </li>
      <li><strong>Betroffene Personen:</strong> Kommunikationspartner.</li>
      <li><strong>Zwecke der Verarbeitung:</strong> Direktmarketing (z.B. per E-Mail oder
        postalisch).
      </li>
      <li><strong>Rechtsgrundlagen:</strong> Einwilligung (Art. 6 Abs. 1 S. 1 lit. a. DSGVO),
        Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO).
      </li>
      <li><strong>Widerspruchsmöglichkeit (Opt-Out):</strong> Sie können den Empfang unseres
        Newsletters jederzeit kündigen, d.h. Ihre Einwilligungen widerrufen, bzw. dem weiteren
        Empfang widersprechen. Einen Link zur Kündigung des Newsletters finden Sie entweder am Ende
        eines jeden Newsletters oder können sonst eine der oben angegebenen Kontaktmöglichkeiten,
        vorzugswürdig E-Mail, hierzu nutzen.
      </li>
    </ul>

    <h2 id="m10">Rechte der betroffenen Personen</h2>
    <p>Ihnen stehen als Betroffene nach der DSGVO verschiedene Rechte zu, die sich insbesondere aus
      Art. 15 bis 21 DSGVO ergeben:</p>
    <ul>
      <li><strong>Widerspruchsrecht: Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen
        Situation ergeben, jederzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen
        Daten, die aufgrund von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, Widerspruch einzulegen;
        dies gilt auch für ein auf diese Bestimmungen gestütztes Profiling. Werden die Sie
        betreffenden personenbezogenen Daten verarbeitet, um Direktwerbung zu betreiben, haben Sie
        das Recht, jederzeit Widerspruch gegen die Verarbeitung der Sie betreffenden
        personenbezogenen Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch für das
        Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.</strong></li>
      <li><strong>Widerrufsrecht bei Einwilligungen:</strong> Sie haben das Recht, erteilte
        Einwilligungen jederzeit zu widerrufen.
      </li>
      <li><strong>Auskunftsrecht:</strong> Sie haben das Recht, eine Bestätigung darüber zu
        verlangen, ob betreffende Daten verarbeitet werden und auf Auskunft über diese Daten sowie
        auf weitere Informationen und Kopie der Daten entsprechend den gesetzlichen Vorgaben.
      </li>
      <li><strong>Recht auf Berichtigung:</strong> Sie haben entsprechend den gesetzlichen Vorgaben
        das Recht, die Vervollständigung der Sie betreffenden Daten oder die Berichtigung der Sie
        betreffenden unrichtigen Daten zu verlangen.
      </li>
      <li><strong>Recht auf Löschung und Einschränkung der Verarbeitung:</strong> Sie haben nach
        Maßgabe der gesetzlichen Vorgaben das Recht, zu verlangen, dass Sie betreffende Daten
        unverzüglich gelöscht werden, bzw. alternativ nach Maßgabe der gesetzlichen Vorgaben eine
        Einschränkung der Verarbeitung der Daten zu verlangen.
      </li>
      <li><strong>Recht auf Datenübertragbarkeit:</strong> Sie haben das Recht, Sie betreffende
        Daten, die Sie uns bereitgestellt haben, nach Maßgabe der gesetzlichen Vorgaben in einem
        strukturierten, gängigen und maschinenlesbaren Format zu erhalten oder deren Übermittlung an
        einen anderen Verantwortlichen zu fordern.
      </li>
      <li><strong>Beschwerde bei Aufsichtsbehörde:</strong> Sie haben ferner nach Maßgabe der
        gesetzlichen Vorgaben das Recht, bei einer Aufsichtsbehörde, insbesondere in dem
        Mitgliedstaat Ihres gewöhnlichen Aufenthaltsorts, Ihres Arbeitsplatzes oder des Orts des
        mutmaßlichen Verstoßes Beschwerde einzulegen, wenn Sie der Ansicht sind, dass die
        Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die DSGVO verstößt.
      </li>
    </ul>

    <h2 id="m42">Begriffsdefinitionen</h2>
    <p>In diesem Abschnitt erhalten Sie eine Übersicht über die in dieser Datenschutzerklärung
      verwendeten Begrifflichkeiten. Viele der Begriffe sind dem Gesetz entnommen und vor allem im
      Art. 4 DSGVO definiert. Die gesetzlichen Definitionen sind verbindlich. Die nachfolgenden
      Erläuterungen sollen dagegen vor allem dem Verständnis dienen. Die Begriffe sind alphabetisch
      sortiert.</p>
    <ul class="glossary">
      <li><strong>Personenbezogene Daten:</strong> "Personenbezogene Daten“ sind alle Informationen,
        die sich auf eine identifizierte oder identifizierbare natürliche Person (im Folgenden
        "betroffene Person“) beziehen; als identifizierbar wird eine natürliche Person angesehen,
        die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen,
        zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung (z.B. Cookie) oder zu einem
        oder mehreren besonderen Merkmalen identifiziert werden kann, die Ausdruck der physischen,
        physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen
        Identität dieser natürlichen Person sind.
      </li>
      <li><strong>Verantwortlicher:</strong> Als "Verantwortlicher“ wird die natürliche oder
        juristische Person, Behörde, Einrichtung oder andere Stelle, die allein oder gemeinsam mit
        anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten entscheidet,
        bezeichnet.
      </li>
      <li><strong>Verarbeitung:</strong> "Verarbeitung" ist jeder mit oder ohne Hilfe
        automatisierter Verfahren ausgeführte Vorgang oder jede solche Vorgangsreihe im Zusammenhang
        mit personenbezogenen Daten. Der Begriff reicht weit und umfasst praktisch jeden Umgang mit
        Daten, sei es das Erheben, das Auswerten, das Speichern, das Übermitteln oder das Löschen.
      </li>
    </ul>
    <p class="seal">
      <a href="https://datenschutz-generator.de/?l=de"
         title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
         rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von
        Dr. Thomas Schwenke</a></p>
  </section>
</article>
{/body}

{/include}
